
/* @import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
 */

 @font-face {
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  src: url('/static/assets/fonts/SVN-Gilroy Regular.otf') format('opentype');
}
:root {
  --primary-color: #e82574;
  --primary-color-dark: #bc1c5c;
  --text-dark: #0c0a09;
  --text-light: #78716c;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__subheader {
  margin-bottom: 0.5rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 2px;
  color: var(--text-dark);
}

.section__subheader::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translate(1rem, -50%);
  height: 2px;
  width: 4rem;
  background-color: var(--primary-color);
}

.section__header {
  max-width: 600px;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  color: var(--text-dark);
}

.section__description {
  max-width: 600px;
  margin-bottom: 1rem;
  color: var(--text-light);
}

.section__image {
  width: 100%;
  height: 300px;
  position: center top;
  object-fit: cover;
}

.btn {
  padding: 0.75rem 1.75rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 550;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--text-dark);
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

.logo {
  max-width: 120px;
}

html,
body {
  scroll-behavior: smooth;
}


body {
  font-family: "SVN-Gilroy", serif;
}

nav {
  position: fixed;
  isolation: isolate;
  top: 0;
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
  z-index: 9;
}
.nav__bar {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--primary-color);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  list-style: none;
  position: absolute;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background-color: rgba(188, 28, 92, 0.9);
  transform: translateY(-100%);
  transition: 0.5s;
  z-index: -1;
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  position: relative;
  isolation: isolate;
  padding-bottom: 8px;
  color: var(--white);
  transition: 0.3s;
}
.nav__icons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.nav__icons span {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav__btn {
  padding: 0.5rem 1rem;
  outline: none;
  border: none;
  font-size: 0.75rem;
  font-weight: 550;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}



.header__container {
  padding-block: 10rem 15rem;
}

.header__container p {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--white);
  text-align: center;
  opacity: 0.6;
}

.header__container h1 {
  font-size: 4rem;
  font-weight: 600;
  line-height: 4.5rem;
  color: var(--white);
  text-align: center;
}

.header__container h1 span {
  color: var(--primary-color);
}

.booking__container {
  padding-block: 0;
}

.booking__form {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--white);
  border-radius: 10px;
  transform: translateY(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.input__group {
  flex: 1 1 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* flex-direction: column; */
}

.input__group span {
  font-size: 1.75rem;
  color: var(--primary-color);
}

.input__group label {
  font-weight: 500;
  color: var(--text-dark);
}
.input__group select {
  display: block;
  width: 100%;
  max-width: 150px;
  padding-block: 5px;
  color: var(--text-light);
  font-size: 0.9rem;
  outline: none;
  border: none;
  font-weight: 500;
}
.input__group input {
  display: block;
  width: 100%;
  max-width: 150px;
  padding-block: 5px;
  color: var(--text-light);
  font-size: 0.9rem;
  outline: none;
  border: none;
}

.input__group input::placeholder {
  color: var(--text-light);
}

.user-dropdown {
  display: none; 
  position: absolute;
  margin-top: 10%;
  background-color: #333; 
  border-radius: 5px;
  padding: 1rem 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: auto;
  white-space: nowrap;
}

.user-dropdown a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: none;
  background: none;
}

.user-dropdown button{
  font-family: 'SVN-Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: medium;
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  border: none;
  background: none;
}

.user-dropdown a:hover, .user-dropdown button:hover {
  background-color: #555; 
}

.event__grid {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: grid;
  gap: 1rem;
}

.event__card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.event__card__image {
  position: relative;
  isolation: isolate;
}

.event__card__icons {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 1rem;
  z-index: 1;
}

.event__card__icons span {
  display: inline-block;
  padding: 2px 8px;
  font-size: 1.5rem;
  background-color: var(--white);
  border-radius: 100%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.event__card__icons span:nth-child(1) {
  color: #f472b6;
}

.event__card__icons span:nth-child(2) {
  color: #c084fc;
}

.event__card__icons span:nth-child(3) {
  color: #60a5fa;
}

.event__card__details {
  padding: 2rem;
}

.event__card__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.book-btn {
  width: 50%;
}

.cart-btn {
  outline: none;
  background-color: var(--primary-color-dark);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--white);
  padding: 0.85rem 0.85rem;
  border-radius: 50%;
  font-weight: 550;
  transition: 0.3s;
}

.cart-btn:hover {
  background-color: var(--text-dark);
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-counter {
  position: absolute;
  top: 0;
  right: -20%;
  background-color: var(--primary-color-dark);
  color: var(--white);
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.5rem !important;
  transition: 0.3s;
  font-weight: 550;
}

.event__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.event__card p {
  margin-bottom: 0.5rem;
  color: var(--text-light);
}

.event__card h5 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-light);
}

.event__card h5 span {
  font-size: 1.1rem;
  color: var(--text-dark);
}

.footer {
  background-color: var(--text-dark);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__col .section__description {
  margin-block: 2rem;
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--white);
}

.footer__links {
  list-style: none;
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
  transition: 0.3s;
}

.footer__links a:hover {
  color: var(--white);
}

.footer__socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.footer__socials img {
  max-width: 25px;
  opacity: 0.8;
  transition: 0.3s;
}

.footer__socials img:hover {
  opacity: 1;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 576px) {
  .event__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    padding: 2rem 1rem;
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav__bar {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    padding: 0;
    width: unset;
    position: static;
    transform: none;
    flex-direction: row;
    background-color: transparent;
  }

  .nav__btn {
    display: block;
  }

  .nav__links a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: var(--primary-color);
    transition: 0.3s;
    transform-origin: left;
  }

  .nav__links a:hover::after {
    width: 100%;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .event__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .service__content {
    grid-column: 2/3;
  }

  .footer__container {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (width > 1024px) {
  .event__grid {
    gap: 2rem;
  }
}
